body {
    font-family: 'Roboto', sans-serif;
    font-family: 'STIX Two Math', serif;
    margin: 0%;
}

.menu-list {
    width: 15%;
    text-align: right;
}

.logo {
    align-items: left;
    font-size: 25px;
    margin: auto;
    width: 80%;
}

.menu {
    color: black;
    display: flex;
    text-align: justify;
    align-items: center;
    margin: auto;
    border-bottom: 2px solid #000;
    width: 80%;
    margin-bottom: 2%;
    margin-top: 2%;
}

h1 {
    font-size: 40px;
}

.orange-color {
    color: orange;
}

.flexible-container {
    display: flex;
    margin-top: 100px;
    margin-bottom: 150px;
}

.half-width {
    width: 50%;
    padding-left: 10%;
    padding-right: 5%;
    text-align: flexible;
}

.About-Me {
    padding-top: 100px;
}

.half-width img {
    width: 80%;
    padding-left: 2%;
}

.link-button {
    text-decoration: none;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 20px;
    font-weight: 700;
}

.button {
    margin-top: 50px;
}

.about-me {
    background-image: url(images/shapes/f57.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.recipies-section {
    text-align: center;
    margin-bottom: 5%;
}

.para-txt {
    text-align: center;
    padding-left: 25%;
    padding-right: 25%;
    font-size: 20px;
}

.recipie-section {
    display: flex;
    margin-bottom: 5%;
}

.recipie {
    text-align: left;
    padding: 5%;
}

.recipies img {
    width: 100%;
    border-radius: 20px;
}

.recipie-item {
    box-shadow: 5px 5px 30px gray;
    padding: 20px;
    margin-right: 2%;
    margin-left: 2%;
    border-radius: 30px;
}

.followers-section {
    display: flex;
    box-shadow: 5px 5px 30px gray;
    text-align: center;
    border-radius: 30px;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    justify-content: center;
    padding-top: 2%;
    padding-bottom: 2%;
}

.followers-count {
    font-size: 100%;
    width: 20%;
    padding: 2%;
    margin: 2%;
}

.footer {
    background-color: rgb(14, 14, 14);
    color: white;
    text-align: center;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 30px;
    margin-right: 30px;
}